/* Dropdown control */
.selectBox-dropdown {
	width: 184px; /* width = (desired width) - padding-right */
	padding-right: 15px;
	position: relative;
    height: 40px;
    float:left;
    background: #e6e6e6;
	text-decoration: none;
	outline: none;
	vertical-align: middle;
	display: inline-block;
	cursor: default;
	line-height: 40px;
    border: none;
    margin:  0;
    outline: none;
}


.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow { outline: none; }

.selectBox-dropdown.selectBox-menuShowing {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
	width: 100%;
	padding: 0px 0px 0px 14px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
    font-size: 14px;
    color: #666666;
    line-height: 40px;
}

.selectBox-dropdown .selectBox-arrow {
	background: url(../images/jquery.selectBox-arrow.png) 50% center no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 100%;
}

.selectBoxPanel .selectBox-dropdown .selectBox-arrow { right: 8px; }

.selectBoxPanel .selectBox-dropdown { background: #fff; border: 1px solid #d8d8d8; }

/* Dropdown menu */
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 164px;
	/*border: solid 1px #fff; */
	border: 0px solid red;
	background: #fff;
	overflow: auto;
    font-size: 12px;
}


/* Inline control */
.selectBox-inline {
	width: 250px;
	outline: none;
	border: solid 1px #CCCCCC;
	background: #FFF;
	display: inline-block;
/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
	overflow: auto;
}

.selectBox-inline:focus {
	border-color: #666;
}


/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0px 0 0 0; 
}

.selectBox-options LI A {
	line-height: 20px;
	padding: 10px 0px 11px 14px;
	white-space: nowrap;
	overflow: hidden;
	background: #ddd;
    font-size: 12px;
    color: #666;
}

.selectBox-options LI.selectBox-hover A {
	background-color: #2e3092;
    color: #fff;
}

.selectBox-options LI.selectBox-disabled A {
	color: #fff;
	background-color: transparent;
	display: none;
}

.selectBox-options LI.selectBox-selected A {
	background-color: #2e3092;
    color: #fff;
}

.selectBox-options .selectBox-optgroup {
	color: #666;
	background: #EEE;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}


/* Disabled state */
.selectBox.selectBox-disabled {
	color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
	opacity: .5;
	filter: alpha(opacity=50);
	border-color: #666;
}

.selectBox-inline.selectBox-disabled {
	color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
	background-color: transparent !important;
}